body {
    font-family: 'Arial', sans-serif;
  }
  
  #messages {
    margin-bottom: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    margin: auto;
    cursor: pointer;
    border: none;
    background-color: #280772;
    color: white;
  }
  
  button:hover {
    background-color: #44109e;
  }